#parent
{
    border: 3px solid green;
    height: 100vh;
    width: 100%;
    display: inline-block;
}

.child
{
    border: 2px solid red;
    display: inline-block;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    float: left;
    margin-top: 45vh;
    
}
#c1
{
    margin-top: 45vh;
    margin-left: 13cm;
    
}